<section class="about" id="about-me">
   <div class="container">
      <h2 class="visually-hidden">Information about me</h2>
      <div class="about-wrap-descr">
         <div class="about-card-title">
            <h3 class="about__title">I work with people all over the world to create impressive and <span
                  class="about-accent-red">functional</span> <span class="about-accent-gray">websites</span> that
               reflect each client's unique
               personality.</h3>
         </div>
         <div class="about-card-image"></div>
      </div>

      <!-- Accordion -->

   <ul class="about-accordion accordion-container">
      <li class="about-accordion-item ac">
         <h2 class="about-accordion-title ac-header">
            About me
            <button class="btn-arrow ac-trigger">
               <svg class="svg-arrow">
                  <use href="../img/icons.svg#arrow-down"></use>
               </svg>
            </button>
         </h2>
   
         <div class="about-accordion-dropdown ac-panel">
            <p class="about-accordion-dscr">
               I am Lloyd Jefferson, a talented programmer with extensive expertise
               in software development. I have an understanding of different
               programming languages​ ​and technologies, always ready to improve my
               skills. I always follow the latest trends and look for
               unconventional, creative solutions to problems. I have a high level
               of analytical skills and am able to effectively solve even the most
               difficult tasks encountered on the way.
            </p>
            <p class="about-accordion-dscr">
               Able to work both independently and in a team. I can effectively
               cooperate with colleagues, exchanging ideas and finding optimal
               solutions. Professional maturity allows you to calmly cope with
               challenges and stressful situations, while maintaining a high
               quality of work.I am always looking for opportunities for
               self-improvement. I actively study new technologies and practices to
               stay abreast of the latest innovations. I have a strong
               understanding of various programming languages, frameworks and
               architectural concepts that allow me to create efficient and
               scalable software.
            </p>
         </div>
      </li>
      <li class="about-accordion-item ac">
         <h2 class="about-accordion-title ac-header">
            Role
            <button class="btn-arrow ac-trigger">
               <svg class="svg-arrow">
                  <use href="../img/icons.svg#arrow-down"></use>
               </svg>
            </button>
         </h2>
   
         <div class="about-accordion-dropdown ac-panel">
            <ul class="about-accordion-list">
               <li class="about-accordion-dscr">Frontend development</li>
               <li class="about-accordion-dscr">HeadlessCMS,Wordpress</li>
               <li class="about-accordion-dscr">Blender(enjoy)</li>
            </ul>
         </div>
      </li>
      <li class="about-accordion-item ac">
         <h2 class="about-accordion-title ac-header">
            Education
            <button class="btn-arrow ac-trigger">
               <svg class="svg-arrow">
                  <use href="../img/icons.svg#arrow-down"></use>
               </svg>
            </button>
         </h2>
   
         <div class="about-accordion-dropdown ac-panel">
            <ul class="about-accordion-list">
               <li class="about-accordion-dscr">
                  2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                  York
               </li>
               <li class="about-accordion-dscr">
                  2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                  School, New York
               </li>
               <li class="about-accordion-dscr">
                  2020 - 2022 / Advanced Blender Animation Techniques, Udemy
               </li>
            </ul>
         </div>
      </li>
   </ul>

   </div>
</section>