<section class="covers" id="covers">
   <div class="container">
      <h2 class="visually-hidden covers-title">Covers</h2>

      <div class="covers-content">
         <ul class="covers-list marquee">
            <li class="marquee__inner">
               <img class="marquee__line" srcset="../img/covers/projects/body@2x.webp 2x" src="../img/covers/projects/body@1x.webp"
                  alt="Transforming your body shape with Power Pulse" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/get-body@2x.webp 2x" src="../img/covers/projects/get-body@1x.webp"
                  alt="Get Body in shape, Stay healthy" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/brand@2x.webp 2x" src="../img/covers/projects/brand@1x.webp"
                  alt="a brand that is inspired by forms creates by nature." width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/finances@2x.webp 2x" src="../img/covers/projects/finances@1x.webp"
                  alt="Manage Your Finances Masterfully!" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/organic@2x.webp 2x" src="../img/covers/projects/organic@1x.webp"
                  alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/ukrainian@2x.webp 2x" src="../img/covers/projects/ukrainian@1x.webp"
                  alt="Reviving the traditional Ukrainian artistry in every stitch." width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/business@2x.webp 2x" src="../img/covers/projects/business@1x.webp" alt="Turn your business into an online leader" width="282"
                  height="162">

               <img class="marquee__line" srcset="../img/covers/projects/discover@2x.webp 2x" src="../img/covers/projects/discover@1x.webp"
                  alt="Transforming your body shape with Power Pulse" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/mimino@2x.webp 2x" src="../img/covers/projects/mimino@1x.webp" alt="MIMINO" width="282"
                  height="162">
            </li>

            <li class="marquee__inner">
               <img class="marquee__line" srcset="../img/covers/projects/ukrainian@2x.webp 2x" src="../img/covers/projects/ukrainian@1x.webp"
                  alt="Reviving the traditional Ukrainian artistry in every stitch." width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/discover@2x.webp 2x" src="../img/covers/projects/discover@1x.webp"
                  alt="Transforming your body shape with Power Pulse" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/body@2x.webp 2x" src="../img/covers/projects/body@1x.webp"
                  alt="Transforming your body shape with Power Pulse" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/mimino@2x.webp 2x" src="../img/covers/projects/mimino@1x.webp" alt="MIMINO" width="282"
                  height="162">

               <img class="marquee__line" srcset="../img/covers/projects/business@2x.webp 2x" src="../img/covers/projects/business@1x.webp" alt="Turn your business into an online leader" width="282"
                  height="162">

               <img class="marquee__line" srcset="../img/covers/projects/get-body@2x.webp 2x" src="../img/covers/projects/get-body@1x.webp"
                  alt="Get Body in shape, Stay healthy" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/finances@2x.webp 2x" src="../img/covers/projects/finances@1x.webp"
                  alt="Manage Your Finances Masterfully!" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/brand@2x.webp 2x" src="../img/covers/projects/brand@1x.webp"
                  alt="a brand that is inspired by forms creates by nature." width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/organic@2x.webp 2x" src="../img/covers/projects/organic@1x.webp"
                  alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!" width="282" height="162">
            </li>

            <li class="marquee__inner">
               <img class="marquee__line" srcset="../img/covers/projects/organic@2x.webp 2x" src="../img/covers/projects/organic@1x.webp"
                  alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/business@2x.webp" src="../img/covers/projects/business@1x.webp"
                  alt="Turn your business into an online leader" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/finances@2x.webp 2x" src="../img/covers/projects/finances@1x.webp"
                  alt="Manage Your Finances Masterfully!" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/brand@2x.webp 2x" src="../img/covers/projects/brand@1x.webp"
                  alt="a brand that is inspired by forms creates by nature." width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/discover@2x.webp 2x" src="../img/covers/projects/discover@1x.webp"
                  alt="Discover the joy of learning English with us!" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/mimino@2x.webp 2x" src="../img/covers/projects/mimino@1x.webp" alt="MIMINO" width="282"
                  height="162">

               <img class="marquee__line" srcset="../img/covers/projects/fresh@2x.webp 2x" src="../img/covers/projects/fresh@1x.webp"
                  alt="Fresh harvest box is your one-stop place for a delicious fruit basket" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/ukrainian@2x.webp 2x" src="../img/covers/projects/ukrainian@1x.webp"
                  alt="Reviving the traditional Ukrainian artistry in every stitch." width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/get-body@2x.webp 2x" src="../img/covers/projects/get-body@1x.webp"
                  alt="Get Body in shape, Stay healthy" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/body@2x.webp 2x" src="../img/covers/projects/body@1x.webp"
                  alt="Transforming your body shape with Power Pulse" width="282" height="162">
            </li>

            <li class="marquee__inner">
               <img class="marquee__line" srcset="../img/covers/projects/get-body@2x.webp 2x" src="../img/covers/projects/get-body@1x.webp"
                  alt="Get Body in shape, Stay healthy" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/fresh@2x.webp 2x" src="../img/covers/projects/fresh@1x.webp"
                  alt="Fresh harvest box is your one-stop place for a delicious fruit basket" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/ukrainian@2x.webp 2x" src="../img/covers/projects/ukrainian@1x.webp"
                  alt="Reviving the traditional Ukrainian artistry in every stitch." width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/business@2x.webp 2x" src="../img/covers/projects/business@1x.webp"
                  alt="Turn your business into an online leader" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/finances@2x.webp 2x" src="../img/covers/projects/finances@1x.webp"
                  alt="Manage Your Finances Masterfully!" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/brand@2x.webp 2x" src="../img/covers/projects/brand@1x.webp"
                  alt="a brand that is inspired by forms creates by nature." width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/organic@2x.webp 2x" src="../img/covers/projects/organic@1x.webp"
                  alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/discover@2x.webp 2x" src="../img/covers/projects/discover@1x.webp"
                  alt="Discover the joy of learning English with us!" width="282" height="162">

               <img class="marquee__line" srcset="../img/covers/projects/mimino@2x.webp 2x" src="../img/covers/projects/mimino@1x.webp" alt="MIMINO" width="282"
                  height="162">

               <img class="marquee__line" srcset="../img/covers/projects/body@2x.webp 2x" src="../img/covers/projects/body@1x.webp"
                  alt="Transforming your body shape with Power Pulse" width="282" height="162">
            </li>
         </ul>
      </div>

   </div>
</section>