<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper projects-swiper">
      <ul class="projects-cards swiper-wrapper">
        <li class="projects-list-item swiper-slide">
          <div class="projects-card-top">
            <ul class="projects-skills-list">
              <li class="projects-skills-item">#react</li>
              <li class="projects-skills-item">#js</li>
              <li class="projects-skills-item">#node js</li>
              <li class="projects-skills-item">#git</li>
            </ul>
            <h3 class="projects-card-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
            <div class="projects-card-button">
              <a class="projects-card-link" href="https://github.com/lexxus0/js-project-group-11.git"
                target="_blank">See project</a>
            </div>
          </div>
          <div class="projects-card-bottom">
            <picture class="projects-img">
              <source
                srcset="./img/projects/portfolio-image-1-tablet@1x.jpg 1x, ./img/projects/portfolio-image-1-tablet@2x.jpg 2x"
                media="(min-width: 768px)" />
              <source
                srcset="./img/projects/portfolio-image-1-mobile@1x.jpg 1x, ./img/projects/portfolio-image-1-mobile@2x.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./img/projects/portfolio-image-1.jpg" alt="Portfolio picture">
            </picture>
          </div>
        </li>
        <li class="projects-list-item swiper-slide">
          <div class="projects-card-top">
            <ul class="projects-skills-list">
              <li class="projects-skills-item">#react</li>
              <li class="projects-skills-item">#js</li>
              <li class="projects-skills-item">#node js</li>
              <li class="projects-skills-item">#git</li>
            </ul>
            <h3 class="projects-card-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
            <div class="projects-card-button">
              <a class="projects-card-link" href="https://github.com/lexxus0/js-project-group-11.git"
                target="_blank">See project</a>
            </div>
          </div>
          <div class="projects-card-bottom">
            <picture class="projects-img">
              <source
                srcset="./img/projects/portfolio-image-2-tablet@1x.jpg 1x, ./img/projects/portfolio-image-2-tablet@2x.jpg 2x"
                media="(min-width: 768px)" />
              <source
                srcset="./img/projects/portfolio-image-2-mobile@1x.jpg 1x, ./img/projects/portfolio-image-2-mobile@2x.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./img/projects/portfolio-image-2.jpg" alt="Portfolio picture">
            </picture>
          </div>
        </li>
        <li class="projects-list-item swiper-slide">
          <div class="projects-card-top">
            <ul class="projects-skills-list">
              <li class="projects-skills-item">#react</li>
              <li class="projects-skills-item">#js</li>
              <li class="projects-skills-item">#node js</li>
              <li class="projects-skills-item">#git</li>
            </ul>
            <h3 class="projects-card-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
            <div class="projects-card-button">
              <a class="projects-card-link" href="https://github.com/lexxus0/js-project-group-11.git"
                target="_blank">See project</a>
            </div>
          </div>
          <div class="projects-card-bottom">
            <picture class="projects-img">
              <source
                srcset="./img/projects/portfolio-image-3-tablet@1x.jpg 1x, ./img/projects/portfolio-image-3-tablet@2x.jpg 2x"
                media="(min-width: 768px)" />
              <source
                srcset="./img/projects/portfolio-image-3-mobile@1x.jpg 1x, ./img/projects/portfolio-image-3-mobile@2x.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./img/projects/portfolio-image-3.jpg" alt="Portfolio picture">
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-swiper-buttons">
        <button class="projects-btn-prev" tabindex="0">
          <svg class="projects-icon">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="projects-btn-next" tabindex="0">
          <svg class="projects-icon">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>