<!-- Footer -->
<footer class="footer-section container section" id="work-together">
  <div class="footer-container">
    <div class="footer-title-box">
      <div class="footer-title-top">
        <picture>
          <source type="image/webp" srcset="
              ./img/footer/footer_mobile@1x.webp 1x,
              ./img/footer/footer_mobile@2x.webp 2x
            " media="(max-width: 767px)" />
          <source type="image/png" srcset="
              ./img/footer/footer_mobile@1x.png 1x,
              ./img/footer/footer_mobile@2x.png 2x
            " media="(max-width: 767px)" />

          <source type="image/webp" srcset="
              ./img/footer/footer_tab@1x.webp 1x,
              ./img/footer/footer_tab@2x.webp 2x
            " media="(min-width: 768px)" />
          <source type="image/png" srcset="
              ./img/footer/footer_tab@1x.png 1x,
              ./img/footer/footer_tab@2x.png 2x
            " media="(min-width: 768px)" />
          <img class="footer-image" src="./img/footer/footer_mobile@1x.png" alt="Profile picture" />
        </picture>
        <h2 class="footer-text-title">
          Let&prime;s&nbsp;<span class="highlight">work</span>
        </h2>
      </div>
      <h2 class="footer-bottom-title">together</h2>
    </div>
    <form class="footer-form">
      <div class="input-container">
        <input class="footer-input" id="email" name="email" type="email" placeholder="clients@gmail.com" />
        <span class="message success" id="successMessage">Success!</span>
        <span class="message error" id="errorMessage">Invalid email, try again</span>
      </div>
      <input id="comments" class="footer-input no-scroll" name="footer comments" type="text" placeholder="comments" />
      <button class="footer-send-btn" type="submit">Send</button>
    </form>
    <address class="info">
      <ul class="footer-contacts">
        <li>
          <a class="info-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>

        <li>
          <a class="info-link" href="tel:+3801111111111">+380 11 1111 11 11</a>
        </li>
      </ul>
    </address>
  </div>
</footer>