/* .container-hero {
  padding-top: 169px;
  padding-bottom: 32px;
  min-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
} */

.content-hero {
  padding-top: 281px;
  padding-bottom: 32px;
  position: relative;
}

.hero,
header {
  background-size: cover;
  background-image: url('../img/hero/mobile-hero.png');
  background-repeat: no-repeat;
  background-position: center;
}

section {
  padding-bottom: 0;
  margin-bottom: 64px;
}

@media screen and (min-resolution: 192dpi) and (min-width: 375px) {
  .hero,
  header {
    background-image: url('../img/hero/mobile-hero@2x.png');
  }
}

.hero-main-title {
  font: 500 50px / 1 'Inter Tight', sans-serif;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  width: 100%;
  white-space: pre-line;
}

.box-for-title {
  margin-bottom: 212px;
  height: 250px;
}

.hero-social-list {
  font: 500 14px 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.item-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 37px;
  height: 37px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-social-list:hover,
.item-social-list:focus {
  border: 1px solid #fafafa;
}

.address-link {
  width: 178px;
  height: 37px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  border: 1px solid #fafafa;
}

@media screen and (min-width: 768px) {
  .hero,
  header {
    background-image: url('../img/hero/tablet-hero.png');
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero,
    header {
      background-image: url('../img/hero/tablet-hero@2x.png');
    }
  }
  .container-hero {
    /* padding-top: 188px; */
    min-width: 768px;
    /* padding-left: 16px;
        padding-right: 16px; */
  }

  .hero-main-title {
    font: 500 90px / 1 'Inter Tight', sans-serif;
  }

  .box-for-title {
    margin-bottom: 187px;
    width: 632px;
    height: 450px;
  }

  .hero-social-list {
    justify-content: flex-end;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container-hero {
    min-width: 1440px;
  }

  .box-for-title {
    margin-bottom: 243px;
    width: 1084px;
    height: 270px;
    margin-left: 178px;
  }

  section {
    padding-bottom: 0;
    margin-bottom: 96px;
  }

  .hero,
  header {
    background-image: url('../img/hero/desktop-hero.png');
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1440px) {
    .hero,
    header {
      background-image: url('../img/hero/desktop-hero@2x.png');
    }
  }
}
