/* Footer styles */
.footer-section {
  background-size: cover;
  background-image: url('/img/footer/background_mobile@1x.png');
  background-image: url('/img/footer/background_mobile@1x.webp');
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
}
.footer-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-title-top {
  display: flex;
  align-items: center;
}
.footer-text-title {
  margin: 0;
  max-width: 267px;
  height: 40px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  transition: text-shadow 500ms ease;
}
.footer-text-title:hover,
.footer-bottom-title:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.footer-bottom-title {
  height: 40px;
  text-transform: uppercase;
  transition: text-shadow 500ms ease;
}
.footer-image {
  float: left;
  border-radius: 12px;
  width: 44px;
  height: 44px;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.highlight {
  color: #ed3b44;
}
.footer-form {
  margin-top: 63px;
  position: relative;
}
.footer-input {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  width: 100%;
  height: 44px;
  color: inherit;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  margin-bottom: 16px;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus,
.footer-input:hover {
  background-color: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 1);
}

.footer-input::placeholder {
  color: rgba(219, 180, 180, 0.6);
}
#comments {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-input.success {
  border-bottom: 1px solid #3cbc81;
}
.footer-input.error {
  border-bottom: 1px solid #e74a3b;
}
.message {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  position: absolute;
  margin-top: 50px;
  margin-bottom: 15px;
  display: none;
}
.message.success {
  color: #3cbc81;
}
.message.error {
  color: #e74a3b;
}

.footer-send-btn {
  margin-top: 16px;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #ed3b44;
  color: inherit;
  font-size: 16px;
  letter-spacing: -0.02em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-send-btn:hover {
  background-color: #e0373f;
  transform: scale(1.2);
}
.footer-contacts {
  display: flex;
  margin-top: 64px;
  list-style: none;
  font-style: normal;
}
.info-link {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  margin-bottom: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: -0.02em;
  transition: border 500ms ease, text-shadow 500ms ease, transform 500ms ease;
}

.info-link:hover {
  border: 1px solid #fafafa;
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/*===================Backdrop styles========================= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 16, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.no-scroll {
  overflow: hidden;
}
/* =========== Modal window styles =========== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 343px;
  min-height: 276px;
  padding: 64px 32px;
  margin: 0;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  background-color: #1c1d20;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.modal.is-visible {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
  stroke-width: 2px;
  stroke: #fafafa;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover {
  transform: rotate(90deg);
  background-color: #e0373f;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover > .modal-close-btn-icon,
.modal-close-btn:focus > .modal-close-btn-icon {
  fill: #ffffff;
}
.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.modal-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}
.backdrop.is-open .modal {
  animation: fadeIn 0.3s ease-out forwards;
}

.backdrop.fade-out .modal {
  animation: fadeOut 0.3s ease-out forwards;
}
@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .footer-section {
    background-image: url('/img/footer/background_mobile@2x.png');
    background-image: url('/img/footer/background_mobile@2x.webp');
  }
}
@media only screen and (min-width: 768px) {
  @media (max-width: 1439px) {
    .footer-section {
      background-image: url('/img/footer/background_tab@1x.png');
      background-image: url('/img/footer/background_tab@1x.webp');
    }
    @media (min-resolution: 192dpi) {
      .footer-section {
        background-image: url('/img/footer/background_tab@2x.png');
        background-image: url('/img/footer/background_tab@2x.webp');
      }
    }
  }

  .footer-container {
    padding-top: 80px;
    padding-bottom: 169px;
  }

  .footer-text-title {
    font-size: 64px;
  }
  .footer-bottom-title {
    font-size: 64px;
  }
  .footer-image {
    border-radius: 24px;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 7px;
  }
  .footer-input {
    margin: 0;
    width: 245px;
  }
  .footer-form {
    gap: 32px;
    display: flex;
    align-items: center;
  }

  .footer-send-btn {
    margin-top: 18px;
    width: 150px;
    height: 150px;
  }

  .footer-contacts {
    margin-top: 18px;
  }
  .info-link {
    padding: 18px 32px;
    font-size: 16px;
    gap: 8px;
    margin: 0;
  }
  .modal {
    width: 492px;
    min-height: 246px;
    padding: 64px;
  }
  .modal-close-btn {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-section {
    padding: 0;
    background-image: url('/img/footer/background_desk@1x.png');
    background-image: url('/img/footer/background_desk@1x.webp');
  }
  @media (min-resolution: 192dpi) {
    .footer-section {
      background-image: url('/img/footer/background_desk@2x.png');
      background-image: url('/img/footer/background_desk@2x.webp');
    }
  }
  .footer-container {
    padding-left: 196px;
    padding-right: 196px;
  }
  .footer-input {
    width: 390px;
  }

  .footer-send-btn {
    margin-top: 18px;
    margin-left: 54px;
    width: 150px;
    height: 150px;
  }
}
